*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

h2{
    text-align: center;
}

.general{
    border: solid thin rgba(71, 255, 47, 0.637);
}

.form{
    background-color: rgba(132, 197, 67, 0.726);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.tareas{
    background-color: rgba(155, 224, 34, 0.575);
    display: flex;
    gap: 10px;
}

.lisTar{
    background-color: rgba(34, 179, 34, 0.493);
    height: 450px;
    width: 50%;
    text-align: center;
}

.indiv{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.nT{
    font-style: italic;
}